{% extends "base.html" %}

{% block content %}
    <h1 class="text-center my-3">Welcome, {{ username }}!</h1>
    <a href="{{ url_for('create_room') }}" class="btn btn-primary mb-3">Create a Room</a>
    <form action="{{ url_for('join_room_view') }}" method="POST" class="mb-3">
        <div class="input-group mb-3">
            <input type="text" name="room_number" class="form-control" placeholder="Enter Room Number" aria-label="Room Number" required>
            <button class="btn btn-secondary" type="submit">Join Room</button>
        </div>
    </form>
    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
{% endblock %}

